
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part B - Glossary </title>

</head>
<body>
<div class="header">
    @*<img src="~/Content/Images/Banner.jpg"/>*@
    
</div>
<div id="Menu">
    @*@RenderPage("~/Views/Shared/_Menu.cshtml")*@
</div>
    <div id="Content">
        @RenderBody()

    </div>
</body>
</html>